@model IEnumerable<WebObjectsBLL.DTO.MessageDTO>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Content</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Content</td>
                <td>@message.CreatedDate?.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
