@model IEnumerable<WebObjectsBLL.DTO.BankAccountDTO>

<link rel="stylesheet" href="~/css/side_bar.css" asp-append-version="true" />
<script src="~/js/bank_account.js" asp-append-version="true"></script>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr class="clickable-row" onclick="window.location.href='/BankAccount/Details?AccountId=@account.Id'">
                <td>@account.AccountNumber</td>
                <td>@account.AccountName</td>
                <td>@account.Balance.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
