@model IEnumerable<WebObjectsBLL.DTO.BankCardDTO>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Card Number</th>
            <th>Holder Name</th>
            <th>Expiration Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model)
        {
            <tr>
                <td>@card.CardNumber</td>
                <td>@card.CardHolderName</td>
                <td>@card.ExpirationDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
