@model IEnumerable<WebObjectsBLL.DTO.CashbackDTO>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cashback in Model)
        {
            <tr>
                <td>@cashback.Category</td>
                <td>@cashback.Amount</td>
                <td>@cashback.CreatedDate?.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
