@model IEnumerable<WebObjectsBLL.DTO.DepositDTO>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Currency</th>
            <th>Interest Rate</th>
            <th>Maturity Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deposit in Model)
        {
            <tr>
                <td>@deposit.DepositAmount</td>
                <td>@deposit.Currency</td>
                <td>@deposit.InterestRate</td>
                <td>@deposit.MaturityDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
